<div class="markets">
  <% @markets.each do |market| %>
      <label class="radio inline">
        <input type="radio" name="marketOptions" value="<%= market %>" <%= market == @markets.first() ? "checked" : "" %>/> <%= market %>
      </label>
  <% end %>
</div>
<table class=" table listings">
  <thead>
  <tr>
    <th>Market</th>
    <th>Name</th>
    <th>Price</th>
    <th>Date</th>
    <th>Location</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
  <% @listings.each do |listing| %>
      <%
         date_class = case
                        when listing.date >= Date.today
                          "text-success"
                        when listing.date == Date.today - 1
                          "text-warning"
                        when listing.date <= Date.today - 2
                          "text-error"
                      end
      %>
      <tr data-market="<%= listing.market %>">
        <td><%= listing.market %></td>
        <td class="name"><%= listing.name %></td>
        <td><%= listing.price %></td>
        <td><p class="<%= date_class %>"><%= listing.date.strftime("%b %d") %></p></td>
        <td><%= listing.location %></td>
        <td><%= link_to listing.link, listing.link %></td>
      </tr>
  <% end %>
  </tbody>
</table>